<div class="container" ng-controller="SearchCtrl">

    <div class="search-container card shadow">
        <div class="row">
            <div ng-show="totalItems > 0">
                <div class="hidden-xs col-sm-2">
                    <div class="refiners">
                        <h5>Sort</h5>
                        <div class="refiner" ng-repeat="refiner in refiners">
                            <h6 ng-click="expandToggle(refiner.name)">{{refiner.name}}</h6>
                            <ul>
                                <li ng-show="isActiveRefiner(refiner.name)" ng-click="refineSearch(null, refiner.name)">
                                    <a href>All</a>
                                </li>
                                <li ng-repeat="refinement in refiner.data.slice(0,4)" ng-click="refineSearch(refinement.RefinementName, refiner.name)">
                                    <a href ng-class="{ 'active': isActiveRefiner(refiner.name, refinement.RefinementName) }">{{refinement.RefinementName}}</a>
                                </li>
                                <li ng-repeat="refinement in refiner.data.slice(4)" ng-show="isExpanded(refiner.name)" ng-click="refineSearch(refinement.RefinementName, refiner.name)">
                                    <a href ng-class="{ 'active': isActiveRefiner(refiner.name, refinement.RefinementName) }">{{refinement.RefinementName}}</a>
                                </li>
                                <li class="secondary-text" ng-show="refiner.data.length > 4 && !isExpanded(refiner.name)" ng-click="expandToggle(refiner.name)">
                                    <a href>more...</a>
                                </li>
                                <li class="secondary-text" ng-show="refiner.data.length > 4 && isExpanded(refiner.name)" ng-click="expandToggle(refiner.name)">
                                    <a href>less...</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 col-sm-10">
                    <div class="search-results">
                        <h4 class="search-header">Search Results</h4>
                        <p class="search-numbers"><strong>{{startItemNo}}-{{endItemNo}}</strong> of about {{totalItems}} results</p>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control search-bar" placeholder="Search" ng-model="searchQuery" ng-model-options="{ debounce: 300 }" ng-change="updateSearch()">
                            </div>
                        </form>

                        <div class="search-result-item" ng-repeat="result in results">
                            <h6><a target="_blank" ng-href="{{result.Cells.results[6].Value}}">{{result.Cells.results[3].Value}}</a></h6>
                            <p class="search-hit-summary">{{result.Cells.results[11].Value | htmlToPlainText}}</p>
                            <p class="search-hit-path path-color">{{result.Cells.results[6].Value}}</p>
                        </div>

                        <div class="text-center">
                            <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" force-ellipses="true" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" ng-show="totalItems < 1">
                <div class="search-hint text-center">
                    <div ng-show="searching">
                        <span class="searching-icon glyphicon glyphicon-search"></span>
                        <h3 class="text-center">
                            Searching SharePoint...
                        </h3>
                    </div>
                    <div ng-show="!searching">
                        <span class="searching-icon glyphicon glyphicon-thumbs-up"></span>
                        <h3 class="text-center">
                            Nothing found.
                        </h3>
                        <h3>
                            Have you tried turning it off and on again?
                        </h3>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>