<div ng-controller="Welcome">

    <div class="row">

        <div class="col-md-8 col-lg-9 col-wrapper">
            <div class="col-lg-push-3 col-lg-9 col-md-12">
                <!--Contacts--->
                <div class="safety-graph card shadow">
                    <h5 class="header ">
                        <span class="glyphicon glyphicon-user"></span> Contact Details
                    </h5>

                    <div class="row">
                        <div class="img-container col-sm-4">
                            <p>
                                Please contact Help Desk for any queries,<br /> Please submit them via email to <br /> helpdesk@barmico.com.au<br />
                                <br />
                                Opening Hours : 8:30 AM to 5:00 PM (AWST)
                            </p>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="header">Contacts will be displayed here..</h4>
                            <!--<div class="ten-line ellipsis" ng-bind-html="ceoMsg.body">
                </div>-->
                        </div>
                    </div>

                </div>
                <!--Contacts--->

                <!-- Image Carousel -->
                <div class="gallery shadow card">
                    <!--<uib-carousel class="support-colour-bg" active="0" interval="5000">
                        <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img class="img-responsive img-rounded" ng-src="{{slide.image}}" style="margin:auto;">
                        </uib-slide>
                    </uib-carousel>-->

                    <slick class="slider" settings="slickConfig" dots="true" next-arrow=".my-slick-right" prev-arrow=".my-slick-left">
                        <div ng-repeat="slide in slides track by $index">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img class="img-responsive" ng-src="{{ slide.imgUrl }}" />
                                </div>
                                <div class="col-sm-8 secondary-text">
                                    <h4 class="primary-text">{{ slide.title }}</h4>
                                    <p>{{ slide.text }}</p>
                                </div>
                            </div>
                        </div>
                    </slick>

                    <a href class="my-slick-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>

                    <a href class="my-slick-right">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <!-- /Image Carousel -->

                
            </div>

            <div class="col-lg-pull-9 col-lg-3 col-md-12">
                <!-- Site Links -->
                <div class="card calendar shadow">
                    <h5 class="header">
                        <span class="glyphicon glyphicon-calendar"></span> Site Links
                    </h5>
                    <ul>
                        <li ng-repeat="link in siteLinks | orderBy: 'Order0'">
                            <a href ng-if="isPopUp(link)" ng-click="openPopupLink(link)">
                                {{link.Title}}
                            </a>
                            <a target="_blank" ng-if="!isPopUp(link)" ng-href="{{link.Site_x0020_Link_x0020_URL.Url}}">
                                {{link.Title}}
                            </a>
                            <hr />
                        </li>
                    </ul>
                </div>
                <!-- /Site Links -->

                <!-- Weather Widget -->
                <div class="row weather-area">
                    <div class="col-xs-6 col-sm-4 col-lg-12" ng-repeat="forecast in weatherData">
                        <a target="_blank" ng-href="{{forecast.link}}">
                            <div class="weather-widget shadow">
                                <h6 class="text-center">{{forecast.location.city}}, {{forecast.location.country}}</h6>
                                <p class="weather-date text-center">{{forecast.item.condition.date}}</p>
                                <div class="row">
                                    <div class="col-xs-7 weather-details">
                                        <h4>{{forecast.item.condition.temp}}°C</h4>
                                        <p>{{forecast.item.condition.text}}</p>
                                    </div>
                                    <span class="weather-icon pull-right secondary-colour">
                                        <i class="wi" ng-class="mapWeatherIcon(forecast.item.condition.code)"></i>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3">
            <!-- Alerts List -->
            <div class="sp-alerts">
                <div class="row" ng-repeat="spAlert in spAlerts | orderBy:'Order0'" ng-click="openSpAlert(spAlert)">
                    <div class="sp-alert shadow">
                        <div class="icon tertiary-colour-bg">
                            <a href>
                                <span class="glyphicon glyphicon-bullhorn"></span>
                            </a>
                        </div>
                        <div class="body">
                            <p><strong>{{ spAlert.Title }}</strong></p>
                            {{ spAlert.Alert | htmlToPlainText }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Alerts List -->

            <!-- Application Links-->
            <div class="row" ng-show="appLinks.length > 0">
                <div class="col-sm-12">
                    <div class="app-links">
                        <a ng-repeat="link in appLinks" ng-href="{{ link.App_x0020_url.Url }}" target="_blank">
                            <div class="app-link text-center shadow secondary-colour-bg">
                                <div class="app-link-content">
                                    <span class="glyphicon glyphicon-globe"></span>
                                    <p>{{ link.Title }}</p>
                                </div>
                            </div>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- /Application Links-->

            <!--NewsLetters--->
            <div class="safety-graph card shadow">
                <h5 class="header ">
                    <span class="glyphicon glyphicon-tasks"></span> Quarterly NewsLetter - [ PORTAL ]
                </h5>
                <div ng-repeat="news in newsletters" class="text-center">
                    <a ng-href="{{news.File.ServerRelativeUrl}}" target="_blank">
                        <div class="img-rounded">
                            <img ng-src="{{ news.Thumbnail.Url }}" class="img-thumbnail  newsletters-image" />
                        </div>
                        <div>
                            <h6 class="newsletters-header">{{ news.Title }}</h6>
                        </div>
                    </a>
                </div>
            </div>
            <!--NewsLetters--->

            <!-- Commodity -->
            <div class="commodity-info card shadow">
                <h5 class="header">
                    <span class="glyphicon glyphicon-stats"></span> Commodity Info
                </h5>

                <a ng-href="{{commodityUrl}}" data-lightbox="commodity-info">
                    <img ng-src="{{commodityUrl}}" class="img-responsive" />
                </a>

                <div class="row">
                    <div class="col-sm-6">
                        <label>From Date</label>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="df" is-open="popupDf.opened" datepicker-options="dateOptions" show-button-bar="false" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDf()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <label>To Date</label>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popupDt.opened" datepicker-options="dateOptions" show-button-bar="false" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDt()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <label>Commodity</label>
                        <ui-select ng-model="selected.value">
                            <ui-select-match>
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                <span ng-bind="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-sm-3 col-sm-offset-3">
                        <button type="button" class="btn btn-primary btn-block commodity-btn" ng-click="updateCommodityUrl()">Go!</button>
                    </div>
                </div>
            </div>
            <!-- /Commodity -->

            <!-- Youtube Embed -->
            <!--<div class="videowrapper">
                <iframe ng-src="{{ embedUrl }}" frameborder="0" allowfullscreen></iframe>
            </div>-->
            <!-- /Youtube Embed -->
        </div>

    </div>

</div>

<!-- MODAL TEMPLATES -->
<script type="text/ng-template" id="popupLinkModal.html">
    <div class="modal-header card">
        <h4>{{ popupLink.Title }}</h4>
        <span class="modal-close glyphicon glyphicon-remove" ng-click="closeModal()"></span>
    </div>
    <div class="modal-body" ng-bind-html="body">
    <!--<div class="modal-body">
        <iframe ng-src="{{iframeSrc}}"></iframe>-->
    </div>
</script>

<script type="text/ng-template" id="spAlertModal.html">
    <div class="modal-header card">
        <h4>{{ spAlert.Title }}</h4>
        <span class="modal-close glyphicon glyphicon-remove" ng-click="closeModal()"></span>
    </div>
    <div class="modal-body" ng-bind-html="body">
    </div>
</script>

<script type="text/ng-template" id="ceoMsgModal.html">
    <div class="modal-header card">
        <h4>{{ ceoMsg.title }}</h4>
        <span class="modal-close glyphicon glyphicon-remove" ng-click="closeModal()"></span>
    </div>
    <div class="modal-body" ng-bind-html="ceoMsg.body">
    </div>
</script>
<!-- /MODAL TEMPLATES -->
