<div ng-controller="Welcome">

    <div class="row">

        <div class="col-md-8 col-lg-9 col-wrapper">
            <div class="col-lg-push-3 col-lg-9 col-md-12">
                <!-- CEO Message -->
                <div class="card ceo-message shadow" ng-click="openCeoMsg()">
                    <div class="row">
                        <div class="img-container col-sm-4">
                            <img src="http://s.wsj.net/public/resources/images/OB-XJ399_barmin_E_20130507002211.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-8">
                            <h4 class="header">{{ceoMsg.title}}</h4>
                            <div class="ten-line ellipsis" ng-bind-html="ceoMsg.body">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CEO Message -->

                <!-- Image Carousel -->
                <div class="gallery">
                    <uib-carousel class="support-colour-bg" active="0" interval="5000">
                        <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img class="img-responsive img-rounded" ng-src="{{slide.image}}" style="margin:auto;">
                        </uib-slide>
                    </uib-carousel>
                </div>
                <!-- /Image Carousel -->

                <!-- Safety Stats -->
                <div class="safety-stats row">
                    <div class="col-sm-6">
                        <div class="safety-graph card shadow">
                            <h5 class="header">
                                <span class="glyphicon glyphicon-signal"></span>
                                Safety Statistics
                            </h5>
                            <hr />
                            <a href>
                                <img src="../Intranet/Images/graph.png" class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="safety-reports card shadow">
                            <h5 class="header">
                                <span class="glyphicon glyphicon-signal"></span>
                                Safety Reports
                            </h5>
                            <hr />
                            <ul class="media-list">
                                <li class="media" ng-repeat="report in safetyReports">
                                    <div class="media-left">
                                        <a ng-href="{{report.File.ServerRelativeUrl}}">
                                            <img class="media-object" ng-src="{{report.Thumbnail_x0020_Image.Url}}" alt="Generic placeholder image" width="64">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a ng-href="{{report.File.ServerRelativeUrl}}">
                                            <h5 class="media-heading">{{report.Title}}</h5>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Safety Stats -->
            </div>

            <div class="col-lg-pull-9 col-lg-3 col-md-12">
                <!-- Site Links -->
                <div class="card calendar shadow">
                    <h5 class="header">
                        <span class="glyphicon glyphicon-calendar"></span> Site Links
                    </h5>
                    <ul>
                        <li ng-repeat="link in siteLinks | orderBy: 'Order0'">
                            <a href ng-if="isPopUp(link)" ng-click="openPopupLink(link)">
                                {{link.Title}}
                            </a>
                            <a target="_blank" ng-if="!isPopUp(link)" ng-href="{{link.Site_x0020_Link_x0020_URL.Url}}">
                                {{link.Title}}
                            </a>
                            <hr />
                        </li>
                    </ul>
                </div>
                <!-- /Site Links -->

                <!-- Weather Widget -->
                <div class="row weather-area">
                    <div class="col-xs-6 col-sm-4 col-lg-12" ng-repeat="forecast in weatherData">
                        <a target="_blank" ng-href="{{forecast.link}}">
                            <div class="weather-widget shadow">
                                <h6 class="text-center">{{forecast.location.city}}, {{forecast.location.country}}</h6>
                                <p class="weather-date text-center">{{forecast.item.condition.date}}</p>
                                <div class="row">
                                    <div class="col-xs-7 weather-details">
                                        <h4>{{forecast.item.condition.temp}}°C</h4>
                                        <p>{{forecast.item.condition.text}}</p>
                                    </div>
                                    <span class="weather-icon pull-right secondary-colour">
                                        <i class="wi" ng-class="mapWeatherIcon(forecast.item.condition.code)"></i>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3">
            <!-- Alerts List -->
            <div class="sp-alerts">
                <div class="row" ng-repeat="spAlert in spAlerts | orderBy:'Order0'" ng-click="openSpAlert(spAlert)">
                    <div class="sp-alert shadow">
                        <div class="icon tertiary-colour-bg">
                            <a href>
                                <span class="glyphicon glyphicon-bullhorn"></span>
                            </a>
                        </div>
                        <div class="body">
                            <p><strong>{{ spAlert.Title }}</strong></p>
                            {{ spAlert.Alert | htmlToPlainText }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Alerts List -->

            <!-- Application Links-->
            <div class="row" ng-show="appLinks.length > 0">
                <div class="col-sm-12">
                    <div class="app-links">
                        <a ng-repeat="link in appLinks" ng-href="{{ link.App_x0020_url.Url }}" target="_blank">
                            <div class="app-link text-center shadow secondary-colour-bg">
                                <div class="app-link-content">
                                    <span class="glyphicon glyphicon-globe"></span>
                                    <p>{{ link.Title }}</p>
                                </div>
                            </div>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- /Application Links-->

            <!-- Calendar -->
            <!--<div class="card calendar shadow">
                <h5 class="header">
                    <span class="glyphicon glyphicon-calendar"></span> Upcoming Events
                </h5>
                <ul>
                    <li ng-repeat="event in calendar">
                        <a href>
                            <div class="row">
                                <div class="col-sm-3">{{ event.date }}</div>
                                <div class="col-sm-9">{{ event.description }}</div>
                            </div>
                        </a>
                        <hr ng-if="!$last" />
                    </li>
                </ul>
            </div>-->
            <!-- Calendar -->

            <!--NewsLetters--->
               <div class="card news shadow newsletters">
                <h4 class="header">
                    <span class="glyphicon glyphicon-tasks"></span> Quarterly NewsLetter (PORTAL)
                </h4>

                <div ng-repeat="news in newsletters" class="text-center">
                    <a ng-href="{{news.File.ServerRelativeUrl}}" target="_blank">
                        <div class="img-rounded">
                            <img ng-src="{{ news.Thumbnail.Url }}" class="img-thumbnail  newsletters-image" />
                        </div>
                        <div>
                            <h6 class="modal-header">{{ news.Title }}</h6>
                        </div>
                        <span class="clearfix">

                        </span>
                    </a>
                </div>

            </div>
          <!--NewsLetters--->

            <!-- Youtube Embed -->
            <!--<div class="row" ng-show="embedUrl">-->
            <div class="videowrapper">
                <!--<iframe ng-src="{{ embedUrl }}" frameborder="0" allowfullscreen></iframe> -->
                <iframe src="https://www.youtube.com/embed/c7nRTF2SowQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- /Youtube Embed -->
        </div>

    </div>

</div>

<!-- MODAL TEMPLATES -->
<script type="text/ng-template" id="popupLinkModal.html">
    <div class="modal-header card">
        <h4>{{ popupLink.Title }}</h4>
        <span class="modal-close glyphicon glyphicon-remove" ng-click="closeModal()"></span>
    </div>
    <div class="modal-body" ng-bind-html="body">
    <!--<div class="modal-body">
        <iframe ng-src="{{iframeSrc}}"></iframe>-->
    </div>
</script>

<script type="text/ng-template" id="spAlertModal.html">
    <div class="modal-header card">
        <h4>{{ spAlert.Title }}</h4>
        <span class="modal-close glyphicon glyphicon-remove" ng-click="closeModal()"></span>
    </div>
    <div class="modal-body" ng-bind-html="body">
    </div>
</script>

<script type="text/ng-template" id="ceoMsgModal.html">
    <div class="modal-header card">
        <h4>{{ ceoMsg.title }}</h4>
        <span class="modal-close glyphicon glyphicon-remove" ng-click="closeModal()"></span>
    </div>
    <div class="modal-body" ng-bind-html="ceoMsg.body">
    </div>
</script>
<!-- /MODAL TEMPLATES -->
